<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/22F-3630/stylesheets/styles.css">
  <link rel="stylesheet" href="/22F-3630/stylesheets/github-light.css">
  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <div style="margin-left:auto;margin-right:auto;">
      <header style="position: relative;width: 100%">
        <div style="float: left">
          <h1>Introduction to Perception and Robotics</h1>
          <p>Georgia Tech CS 3630 Fall 2022 edition</p>
        </div>
        <div style="float: right;">
          <ul>
            <li><a href="/22F-3630/index.html">Home</a></li>
            <li><a href="/22F-3630/book.html">Book</a></li>
            <li><a href="/22F-3630/resources.html">Resources</a></li>
          </ul>
          <ul>
            <li><a href="/22F-3630/syllabus.html">Syllabus</a></li>
            <li><a href="/22F-3630/schedule.html">Schedule</a></li>
            <li><a href="/22F-3630/projects.html">Projects</a></li>
          </ul>
        </div>
      </header>
    </div>
    <div style="margin-left:auto;margin-right:auto;padding-bottom: 50px">
      {{ content }}
    </div>
    <div style="margin-left:auto;margin-right:auto;">
      <footer style="position: relative;">
        <p>Maintained by Frank Dellaert and the TAs of CS 3630</p>
        <p>Based on a theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
  </div>
  <script src="/22F-3630/javascripts/scale.fix.js"></script>
</body>

</html>